@import "variables";
@import "button";

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: $bgColor;
  height: 100vh;
}

h1 {
  color: $mainTitle;
  text-align: center;
  font-family: $fontFamily;
  margin-top: 0;
}

.bottoni {
  display: flex;
  justify-content: space-around;
}

main {
  img {
    width: 100%;
    height: 400px;
  }
}
